*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color:#E5E5E5;
}
.nav{
    background-color: #1D1D1B;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.nav .wibli{
    width: 12%;
}
.nav .wibli ,.option{
    background-color: #1D1D1B;
    margin-top: 7px;
    margin-bottom: 7px;
}
.nav .option{
    padding: 1% 3%;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}
.nav .option:hover{
    color: #1D1D1B;
    background-color: #b3aeae;
    text-decoration: none;
    border-radius: 10px;
}
.spotify{
    width: 80px;
    height: 80px;
    border-radius:12px;
}
.pageTitle{
    padding: 3vh;
    text-align: center;
    color: #1D1D1B;
    font-weight: 800;
}
.card{
    padding: 10px;
    background-color:#fff;
    border-radius: 10px;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
 }
 .card:hover{
    cursor: pointer;
    transition: all .2s ease;
    transition-duration: 300ms;
    transform: scale(1.02);
 }

.card .titles{
    text-align: center;
    font-weight:400;
    background-color: #fff;
}
.card .poster{
    width: 100%;
    border-radius: 5px;
} 

@media screen and (max-width: 576px) {
    #movies{
        grid-template-columns: repeat(2,1fr);
    } 
    .left{display: none;}
    .right{text-align: center;}
    .titlePage{margin-bottom: 0; font-size: 16px;}
    .title{font-size: 13px;}
    .title-original{font-size: 12px;}
    .spotify {display: none;}

}
@media screen and (min-width: 576px) {
    #movies{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 768px) {
    #movies{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width: 992px) {
    #movies{
        grid-template-columns: repeat(5,1fr);
    }  
}
@media screen and (min-width: 1200px) {
    #movies{
        grid-template-columns: repeat(6,1fr);
    }  
}

.movies{
    padding: 2% 6%;
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 3vw; 
    grid-row-gap: 3vh;
}

.-hidden{
    display:none
}
.arrow-back{
    width: 1.5%;
    margin-top: 10px;
    margin-left: 10%;
    cursor: pointer;
}

.movie{
    position: relative;
}
.movieDiv{
    display: flex;
    height: 300px;
    width: 80vw;
    max-width: 1000px;
    margin: 0 auto;
}

.left{
    display: inline-block;
    width: 200px;
}
.poster{
    width: 200px;
}
.right{
    padding-left: 10px;
    text-align: left;
    display: inline-block;  
}
.random{
    padding: 5vh;
    color: #1D1D1B;
    font-weight: 800;
}
.title{
    font-size: 16px;
}
.title > span{
    font-size: 13px;
}
.title-original{
    padding-top: 5px;
    font-size: 14px;
}
.title-original > span{
    padding-top: 5px;
    margin-left: 10px;
    color: #474747;
}
.description{
    padding-top: 5px;
    font-size: 15px;
}


footer{
    background-color: #1D1D1B;
    text-align: center;
    padding:5px;
}
.-absolute{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #1D1D1B;
    text-align: center;
    padding:5px;
}
a{
    background-color: #1d1d1b00;
}
.socialMedias{
    margin: 0 10px;
    padding: 5px;
    width: 6vh;
    background-color: #1D1D1B;
}
.socialMedias:hover{
    border-radius: 5px;
    background-color: #b3aeae;
}