*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color:#E5E5E5;
}


.nav{
    background-color: #1D1D1B;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.nav .wibli{
    width: 13%;
}
.nav .wibli, a{
    background-color: #1D1D1B;
    margin-top: 7px;
    margin-bottom: 7px;
}
.nav a{
    padding: 1% 3%;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}
.nav a:hover{
    color: #1D1D1B;
    background-color: rgb(179, 174, 174);
    text-decoration: none;
    border-radius: 10px;
}
.title{
    padding: 3vh;
    text-align: center;
    color: #1D1D1B;
    font-weight: 800;
}
.card {
    padding: 10px;
    background-color:#fff;
    border-radius: 10px;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
 }
 .card:hover{
     cursor: pointer;
 }

.card .titles{
    text-align: center;
    font-weight:400;
    background-color: #fff;
}

.card .poster{
    width: 100%;
    border-radius: 5px;
} 

@media screen and (max-width: 576px) {
    #showApp{
        grid-template-columns: repeat(2,1fr);
    }   
}
@media screen and (min-width: 576px) {
    #showApp{
        grid-template-columns: repeat(3,1fr);
    }   
}
@media screen and (min-width: 768px) {
    #showApp{
        grid-template-columns: repeat(4,1fr);
    }  
}
@media screen and (min-width: 992px) {
    #showApp{
        grid-template-columns: repeat(5,1fr);
    }  
}
@media screen and (min-width: 1200px) {
    #showApp{
        grid-template-columns: repeat(6,1fr);
    }  
}
.showApp{
    padding: 2% 6%;
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 3vw; 
    grid-row-gap: 3vh;
}

.hiddenApp{
    display:none
}
.showDescrip{
    background-color: #E5E5E5;
    height: 100vh;
}

.arrow-back{
    padding-left: 15px;
    width:2.5%;
}


footer{
    background-color: #1D1D1B;
    text-align: center;
    padding: 5px;

}
footer .socialMedias{
    margin: 0 10px;
    padding: 5px;
    width: 6vh;
    background-color:#ffffff00
}
footer .socialMedias:hover{
    border-radius: 5px;
    background-color: #918b8b;
}